
<html>
    <body>
        <table>
            <tr>
                <td><b>STATUS</b></td>
                <td><b>ATIVAÇÕES</b></td>
            </tr>
            <%for(var i=0; i < lista.length;i++){
            %>
                <tr>
                    <td><%=lista[i].STATUS%></td>
                    <td><%=lista[i].ATIVACAO%></td>
                </tr>
            <%}%>
            <%  var palitado = 0; for(var i=0; i < lista.length;i++){

                    palitado = palitado+lista[i].ATIVACAO;
            }%>

            <tr>
                 <td><b>PALITADO</b></td>
                 <td><b>VALIDADO</b></td>
            </tr>
            <tr>
                <%palitado = (palitado-lista[0].ATIVACAO)%>
                <td><%=palitado%></td>
                <td><%=(lista[7].ATIVACAO+lista[4].ATIVACAO)%></td>
            </tr>
            <tr>
                <td></td>
                <%var percent = Math.round(((lista[7].ATIVACAO+lista[4].ATIVACAO)*100)/palitado)%>
                <td><b><%=percent +"%"%></b></td>
            </tr>

        </table>
            <script>

            </script>
    </body>
</html>